<%-include('header')%>


    <!-- index body start -->
    <div class="page-body">
        <div class="container-fluid">
            <div class="row">
                <!-- chart caard section start -->
                <div class="col-sm-6 col-xxl-3 col-lg-6">
                    <div class="main-tiles border-5 border-0  card-hover card o-hidden">
                        <div class="custome-1-bg b-r-4 card-body">
                            <div class="media align-items-center static-top-widget">
                                <div class="media-body p-0">
                                    <span class="m-0">Total Revenue</span>
                                    <h4 class="mb-0 counter">₹ <%= Details[0].TotalRevenue%>

                                    </h4>
                                </div>
                                <div class="align-self-center text-center">
                                    <i class="ri-database-2-line"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xxl-3 col-lg-6">
                    <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                        <div class="custome-2-bg b-r-4 card-body">
                            <div class="media static-top-widget">
                                <div class="media-body p-0">
                                    <span class="m-0">Total Orders</span>
                                    <h4 class="mb-0 counter">
                                        <%= Details[0].TotalOrders %>

                                    </h4>
                                </div>
                                <div class="align-self-center text-center">
                                    <i class="ri-shopping-bag-3-line"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xxl-3 col-lg-6">
                    <div class="main-tiles border-5 card-hover border-0  card o-hidden">
                        <div class="custome-3-bg b-r-4 card-body">
                            <div class="media static-top-widget">
                                <div class="media-body p-0">
                                    <span class="m-0">Total Products</span>
                                    <h4 class="mb-0 counter">
                                        <%= Products %>
                                     
                                    </h4>
                                </div>

                                <div class="align-self-center text-center">
                                    <i class="ri-chat-3-line"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12" style="width: 1000px;margin-left: 150px;">
                    <div class="card o-hidden card-hover">
                        <div class="card-header border-0 pb-1">
                            <div class="card-header-title">
                                <h4>Revenue Report</h4>
                            </div>


                            <div class="best-selling-box d-sm-flex d-none">
                                <span>Short By:</span>
                                <div class="dropdown">
                                    <button class="btn p-0 dropdown-toggle" type="button" id="dropdownMenuButton2"
                                        data-bs-toggle="dropdown" data-bs-auto-close="true">Yearly</button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" onclick="fetchSalesData('monthly')">Monthly</a>
                                        </li>
                                        <li><a class="dropdown-item" onclick="fetchSalesData('yearly')">Yearly</a></li>
                                        <li><a class="dropdown-item" onclick="fetchSalesData('weekly')">Weekly</a></li>
                                        <li><a class="dropdown-item" onclick="fetchSalesData('Day')">Day</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="card-body p-0">
                            <canvas id="salesChart" width="100" height="50"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

        <!-- footer start-->
        <div class="container-fluid">
            <footer class="footer">
                <div class="row">
                    <div class="col-md-12 footer-copyright text-center">
                        <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- footer End-->
    </div>
    <!-- index body end -->
    </div>
    <!-- Page Body End -->
    </div>
    <!-- page-wrapper End-->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/adminassets/js/jquery-3.6.0.min.js"></script>


    <script>
        $(document).ready(function () {
            fetchSalesData('yearly');
        });
        var salesChart
        function fetchSalesData(type) {

            const url = type === 'yearly' ? '/admin/YearlySalesData' : type === 'monthly' ? '/admin/MonthlySalesData' : type === 'weekly' ? '/admin/WeeklySalesData' : '/admin/DaySalesData';

            $.ajax({
                url: url,
                method: 'get',
                dataType: 'json',
                success: function (response) {

                    const chart = document.getElementById('salesChart').getContext('2d')
                    if (salesChart) {
                        $('#salesChart').tooltip('dispose');
                        salesChart.destroy();
                    }
                    if (type === 'yearly') {
                        const currentYear = new Date().getFullYear()
                        const salesData = response.salesData
                        const years = []
                        for (let i = 0; i < 10; i++) {
                            years.push(currentYear - i)
                        }
                        const data = years.map((year) => {

                            const entry = salesData.find(item => item.year === year)

                            return entry ? entry.value : 0;
                        })
                        salesChart = new Chart(chart, {
                            type: 'line',
                            data: {
                                labels: years.reverse(),
                                datasets: [{
                                    label: 'Sales Data',
                                    tension: 0.3,
                                    fill: true,
                                    data: data.reverse(),
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 2
                                }]

                            }
                        })
                    } else if (type === 'monthly') {

                        const salesData = response.salesData
                        const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

                        const data = months.map((month) => {
                            const entry = salesData.find(item => item.date === month)
                            return entry ? entry.value : 0;
                        })

                        console.log(data, months)
                        salesChart = new Chart(chart, {
                            type: 'line',
                            data: {
                                labels: months,
                                datasets: [{
                                    label: 'Sales Data',
                                    tension: 0.3,
                                    fill: true,
                                    data: data,
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 2
                                }]
                            }
                        })

                    } else if (type === 'weekly') {
                  
                        const Data = response.Data
                        const Days = response.Days
                    
                        console.log(Data, Days)
                        salesChart = new Chart(chart, {
                            type: 'line',
                            data: {
                                labels: Days.reverse(),
                                datasets: [{
                                    label: 'Sales Data',
                                    tension: 0.1,
                                    fill: true,
                                    data: Data.reverse(),
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 2,

                                }]
                            }
                        })

                    } else  {
                      
                        const hours=response.hours
                        const values=response.values
                        salesChart=new Chart(chart,{
                            type:'line',
                            data:{
                                labels:hours,
                                datasets:[{
                                    label:'Sales Data',
                                    tension:0.3,
                                    fill:true,
                                    data:values,
                                    borderColor:'rgba(75, 192, 192, 1)',
                                    borderWidth:2
                                }]
                            },  

                        })
                    }

                }

            })



        }



      



    </script>


    <!-- Bootstrap js -->
    <script src="/adminassets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="/adminassets/js/icons/feather-icon/feather.min.js"></script>
    <script src="/adminassets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="/adminassets/js/scrollbar/simplebar.js"></script>
    <script src="/adminassets/js/scrollbar/custom.js"></script>

    <!-- Sidebar jquery -->
    <script src="/adminassets/js/config.js"></script>

    <!-- tooltip init js -->
    <script src="/adminassets/js/tooltip-init.js"></script>

    <!-- Plugins JS -->
    <script src="/adminassets/js/sidebar-menu.js"></script>
    <script src="/adminassets/js/notify/bootstrap-notify.min.js"></script>
    <script src="/adminassets/js/notify/index.js"></script>

    <!-- Apexchar js -->
    <script src="/adminassets/js/chart/apex-chart/apex-chart1.js"></script>
    <script src="/adminassets/js/chart/apex-chart/moment.min.js"></script>
    <script src="/adminassets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="/adminassets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="/adminassets/js/chart/apex-chart/chart-custom1.js"></script>


    <!-- slick slider js -->
    <script src="/adminassets/js/slick.min.js"></script>
    <script src="/adminassets/js/custom-slick.js"></script>

    <!-- customizer js -->
    <script src="/adminassets/js/customizer.js"></script>

    <!-- ratio js -->
    <script src="/adminassets/js/ratio.js"></script>

    <!-- sidebar effect -->
    <script src="/adminassets/js/sidebareffect.js"></script>

    <!-- Theme js -->
    <script src="/adminassets/js/script.js"></script>
    </body>


    <!-- Mirrored from themes.pixelstrap.com/fastkart/back-end/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 14 Oct 2023 04:08:37 GMT -->

    </html>