<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Error</title>
</head>
<body>
  <h1>Error Page</h1>
  <% if (locals.message) { %>
    <p><%=message %></p>
  <% } %>
 
</body>
</html>
